<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>About|Giftkaro -Something for Everyone</title>
    {% include "oscar/partials/navbar.html" %}

<body>
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <!-- <div class="col-md-4"> -->
                <h2 class="display-4 col-md-4">GiftKaro.in</h2>
                <p> <i>GiftKaro.in </i> is an initiative to help the people with the service to deliever Gifts to
                    Home. You can send gifts to your Friends, Faimily, Colleagues and surprise them.</p>
                <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
            </div>
        </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Our Vision.</h2>
                    <p>We want to be the brand people turn to when looking for ways to make someone’s day. When people
                        want to send gifts, Cakes & Flowers, we want their first thought to be Giftkaro.in. Not only
                        because of our guaranteed quality offering and obsession with customer service, but because
                        considering kind, trustworthy and we truly give. And not because we say we give, but because we
                        show - through mindful and sustainable practices.</p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
                </div>
                <div class="col-md-4">
                    <h2>Our Mission</h2>
                    <p>Our mission is to provide customers with unique, high-quality merchandise at affordable prices.
                    <ul>
                        <li>Our Mission is to deliver satisfaction to our customer. </li>
                        <li>Be Fast.</li>
                        <li>Focus On Our Customer's Need.</li>
                        <li>Give customer Contemporary Experience.</li>
                    </ul>
                    </p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
                </div>
                <div class="col-md-4">
                    <h2>Our Values</h2>
                    <p>
                    <ul>
                        <li>With Good Collaboration, We Give a Well Service</li>
                        <li>Creativity</li>
                        <li>Empowerment</li>
                        <li>Professionalism</li>
                        <li>Diverse Perspective</li>
                    </ul>
                    </p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
                </div>
            </div>

            <hr>

        </div>

    </main>

</body>

</html>